
/*WordPress Admin styling customization for this plugin.*/
.fantastic-slideshow__plugin-title { padding-top: 5px; padding-bottom: 15px; font-size: 23px; font-weight: 400; }
.fantastic-slideshow__instructions { display: inline-block; padding: 2px 15px; margin-top: 15px; border: 1px solid #ccd0d4; background-color: #ffffff; }
.fantastic-slideshow__instructions__intro { padding-bottom: 25px; }


.admin-input-container { padding-bottom: 20px; }
.admin-input-container__label { display: inline-block; width: 300px; }



@media only screen and (min-width: 700px){

}



@media only screen and (min-width: 1200px){
    
}
